In [ ]:
#Udfra forskellige kriminal statistics

In [46]:
import pandas as pd
import numpy as np
import sklearn 
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.svm import SVR
from sklearn.metrics import mean_squared_error, r2_score

In [47]:
#Load the dataset
crime_data = pd.read_csv('reported.csv')

#Explore the dataset
print("\nData efter head:")
print(crime_data.head())
print("\nData efter describe:")
print(crime_data.describe())
print("\nData efter info:")
print(crime_data.info())

Data efter head:
   Year  crimes.total  crimes.penal.code  crimes.person  murder  assault  \
0  1950          2784               2306            120       1      105
1  1951          3284               2754            125       1      109
2  1952          3160               2608            119       1      104
3  1953          2909               2689            119       1      105
4  1954          3028               2791            126       1      107

   sexual.offenses  rape  stealing.general  burglary  ...  vehicle.theft  \
0               40     5              1578       295  ...            NaN
1               45     6              1899       342  ...            NaN
2               39     4              1846       372  ...            NaN
3               45     5              1929       361  ...            NaN
4               41     5              1981       393  ...            NaN

   out.of.vehicle.theft  shop.theft  robbery  fraud  criminal.damage  \
0                   NaN         NaN        3    209               72
1                   NaN         NaN        3    310               73
2                   NaN         NaN        3    217               82
3                   NaN         NaN        4    209               88
4                   NaN         NaN        4    236              101

   other.penal.crimes  narcotics  drunk.driving  population
0                 477        0.0             49     7014000
1                 530        0.0             66     7073000
2                 553        0.0             78     7125000
3                 220        0.0             91     7171000
4                 237        0.0            103     7213000

[5 rows x 21 columns]

Data efter describe:
              Year  crimes.total  crimes.penal.code  crimes.person     murder  \
count    66.000000     66.000000          66.000000      66.000000  66.000000
mean   1982.500000  10084.257576        8695.181818     451.287879   1.757576
std      19.196354   4223.893287        3582.148938     295.041002   0.724529
min    1950.000000   2784.000000        2306.000000     119.000000   1.000000
25%    1966.250000   6152.500000        5336.000000     185.250000   1.000000
50%    1982.500000  11654.000000        9637.000000     370.500000   2.000000
75%    1998.750000  13663.750000       12002.500000     690.500000   2.000000
max    2015.000000  15342.000000       12803.000000    1005.000000   4.000000

          assault  sexual.offenses       rape  stealing.general     burglary  \
count   66.000000        66.000000  66.000000         66.000000    66.000000
mean   423.106061        75.318182  20.045455       5580.545455  1240.681818
std    281.839023        48.136396  19.147550       2089.329161   456.699806
min    104.000000        29.000000   4.000000       1578.000000   295.000000
25%    167.750000        41.000000   8.000000       3786.750000   918.250000
50%    345.000000        50.000000  11.000000       5928.000000  1331.000000
75%    658.000000        97.000000  23.000000       7444.500000  1653.250000
max    947.000000       210.000000  69.000000       8650.000000  1878.000000

       ...  vehicle.theft  out.of.vehicle.theft  shop.theft     robbery  \
count  ...      59.000000             51.000000   51.000000   66.000000
mean   ...     466.288136           1192.568627  540.294118   48.060606
std    ...     193.701161            432.536438  185.298710   35.412679
min    ...     135.000000            542.000000  123.000000    3.000000
25%    ...     339.500000            753.500000  379.000000   13.250000
50%    ...     419.000000           1210.000000  606.000000   42.000000
75%    ...     660.500000           1580.000000  695.000000   83.500000
max    ...     882.000000           1869.000000  807.000000  104.000000

             fraud  criminal.damage  other.penal.crimes    narcotics  \
count    66.000000        66.000000           66.000000    62.000000
mean    730.636364       879.484848         1383.303030   386.629032
std     395.296097       605.272253          717.521867   307.130945
min     209.000000        72.000000          220.000000     0.000000
25%     476.500000       301.250000          816.750000   201.250000
50%     640.000000       818.000000         1465.000000   350.000000
75%    1080.250000      1351.500000         1776.500000   539.250000
max    1896.000000      2175.000000         2721.000000  1002.000000

       drunk.driving    population
count      66.000000  6.600000e+01
mean      225.757576  8.341848e+06
std        66.349902  7.179351e+05
min        49.000000  7.014000e+06
25%       178.000000  7.823000e+06
50%       238.000000  8.327000e+06
75%       272.500000  8.856250e+06
max       337.000000  9.851000e+06

[8 rows x 21 columns]

Data efter info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Year                  66 non-null     int64
 1   crimes.total          66 non-null     int64
 2   crimes.penal.code     66 non-null     int64
 3   crimes.person         66 non-null     int64
 4   murder                66 non-null     int64
 5   assault               66 non-null     int64
 6   sexual.offenses       66 non-null     int64
 7   rape                  66 non-null     int64
 8   stealing.general      66 non-null     int64
 9   burglary              66 non-null     int64
 10  house.theft           51 non-null     float64
 11  vehicle.theft         59 non-null     float64
 12  out.of.vehicle.theft  51 non-null     float64
 13  shop.theft            51 non-null     float64
 14  robbery               66 non-null     int64
 15  fraud                 66 non-null     int64
 16  criminal.damage       66 non-null     int64
 17  other.penal.crimes    66 non-null     int64
 18  narcotics             62 non-null     float64
 19  drunk.driving         66 non-null     int64
 20  population            66 non-null     int64
dtypes: float64(5), int64(16)
memory usage: 11.0 KB
None

In [48]:
# Data preprocessing
# Assuming 'Year' as a feature, but it should be treated differently for time series analysis
# For simplicity, treating this as a regression problem ignoring temporal nature
crime_data.fillna(crime_data.median(), inplace=True)  # Handling missing values by replacing them with median
crime_data

,Year,crimes.total,crimes.penal.code,crimes.person,murder,assault,sexual.offenses,rape,stealing.general,burglary,...,vehicle.theft,out.of.vehicle.theft,shop.theft,robbery,fraud,criminal.damage,other.penal.crimes,narcotics,drunk.driving,population
0,1950,2784,2306,120,1,105,40,5,1578,295,...,419.0,1210.0,606.0,3,209,72,477,0.0,49,7014000
1,1951,3284,2754,125,1,109,45,6,1899,342,...,419.0,1210.0,606.0,3,310,73,530,0.0,66,7073000
2,1952,3160,2608,119,1,104,39,4,1846,372,...,419.0,1210.0,606.0,3,217,82,553,0.0,78,7125000
3,1953,2909,2689,119,1,105,45,5,1929,361,...,419.0,1210.0,606.0,4,209,88,220,0.0,91,7171000
4,1954,3028,2791,126,1,107,41,5,1981,393,...,419.0,1210.0,606.0,4,236,101,237,0.0,103,7213000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,2011,14988,12267,1005,2,947,181,69,5783,995,...,213.0,706.0,663.0,103,1220,1774,2721,946.0,314,9449000
62,2012,14734,12148,974,2,914,178,66,5613,922,...,169.0,655.0,635.0,97,1356,1600,2586,994.0,286,9519000
63,2013,14603,12072,896,3,837,184,63,5552,888,...,159.0,543.0,509.0,87,1545,1470,2532,1002.0,279,9644000
64,2014,14890,12305,923,3,859,210,69,5572,913,...,147.0,542.0,505.0,86,1610,1559,2585,983.0,271,9747000
65,2015,15342,12803,932,3,868,184,60,5404,917,...,135.0,552.0,515.0,86,1896,1989,2539,960.0,267,9851000

In [49]:
# Define X and y based on your dataset
X = crime_data.drop(['crimes.total', 'Year'], axis=1)  # Dropping 'Year' if not used as a feature
y = crime_data['crimes.total']
crime_data

,Year,crimes.total,crimes.penal.code,crimes.person,murder,assault,sexual.offenses,rape,stealing.general,burglary,...,vehicle.theft,out.of.vehicle.theft,shop.theft,robbery,fraud,criminal.damage,other.penal.crimes,narcotics,drunk.driving,population
0,1950,2784,2306,120,1,105,40,5,1578,295,...,419.0,1210.0,606.0,3,209,72,477,0.0,49,7014000
1,1951,3284,2754,125,1,109,45,6,1899,342,...,419.0,1210.0,606.0,3,310,73,530,0.0,66,7073000
2,1952,3160,2608,119,1,104,39,4,1846,372,...,419.0,1210.0,606.0,3,217,82,553,0.0,78,7125000
3,1953,2909,2689,119,1,105,45,5,1929,361,...,419.0,1210.0,606.0,4,209,88,220,0.0,91,7171000
4,1954,3028,2791,126,1,107,41,5,1981,393,...,419.0,1210.0,606.0,4,236,101,237,0.0,103,7213000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
61,2011,14988,12267,1005,2,947,181,69,5783,995,...,213.0,706.0,663.0,103,1220,1774,2721,946.0,314,9449000
62,2012,14734,12148,974,2,914,178,66,5613,922,...,169.0,655.0,635.0,97,1356,1600,2586,994.0,286,9519000
63,2013,14603,12072,896,3,837,184,63,5552,888,...,159.0,543.0,509.0,87,1545,1470,2532,1002.0,279,9644000
64,2014,14890,12305,923,3,859,210,69,5572,913,...,147.0,542.0,505.0,86,1610,1559,2585,983.0,271,9747000
65,2015,15342,12803,932,3,868,184,60,5404,917,...,135.0,552.0,515.0,86,1896,1989,2539,960.0,267,9851000

In [50]:
#Fjern NaN-værdier ved at erstatte dem med gennemsnittet
data_cleaned = data.fillna(data.mean())

In [51]:
# Udskriv datasættet efter imputation
print("\nData efter imputation:")
print(data_cleaned)

Data efter imputation:
   Year  crimes.total  crimes.penal.code  crimes.person  murder  assault  \
0  1950          2784               2306            120       1      105
1  1951          3284               2754            125       1      109
2  1952          3160               2608            119       1      104
3  1953          2909               2689            119       1      105
4  1954          3028               2791            126       1      107

   sexual.offenses  rape  stealing.general  burglary  robbery  fraud  \
0               40     5              1578       295        3    209
1               45     6              1899       342        3    310
2               39     4              1846       372        3    217
3               45     5              1929       361        4    209
4               41     5              1981       393        4    236

   criminal.damage  other.penal.crimes  narcotics  drunk.driving  population  \
0               72                 477        0.0             49     7014000
1               73                 530        0.0             66     7073000
2               82                 553        0.0             78     7125000
3               88                 220        0.0             91     7171000
4              101                 237        0.0            103     7213000

   target_variable
0                0
1                1
2                0
3                1
4                0

In [52]:
# Hvis du ikke allerede har fjernet disse kolonner, skal du kontrollere kolonnenavne først
print("Column names before removal:")
print(data.columns)

# Kontroller om kolonnerne eksisterer, før du forsøger at fjerne dem
columns_to_remove = ['vehicle.theft', 'out.of.vehicle.theft', 'shop.theft']
existing_columns = set(data.columns)
columns_to_remove = [col for col in columns_to_remove if col in existing_columns]

# Håndter manglende værdier i de fundne kolonner
if columns_to_remove:
    data = data.drop(columns_to_remove, axis=1)
    print(f"\nColumns {columns_to_remove} removed successfully.")
else:
    print("\nColumns not found in the dataset.")

# Tjek kolonnenavne efter fjernelse
print("\nColumn names after removal:")
print(data.columns)

Column names before removal:
Index(['Year', 'crimes.total', 'crimes.penal.code', 'crimes.person', 'murder',
       'assault', 'sexual.offenses', 'rape', 'stealing.general', 'burglary',
       'robbery', 'fraud', 'criminal.damage', 'other.penal.crimes',
       'narcotics', 'drunk.driving', 'population', 'target_variable'],
      dtype='object')

Columns not found in the dataset.

Column names after removal:
Index(['Year', 'crimes.total', 'crimes.penal.code', 'crimes.person', 'murder',
       'assault', 'sexual.offenses', 'rape', 'stealing.general', 'burglary',
       'robbery', 'fraud', 'criminal.damage', 'other.penal.crimes',
       'narcotics', 'drunk.driving', 'population', 'target_variable'],
      dtype='object')

In [53]:
# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [54]:
# Data normalization
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [55]:
#Model training
#Adjusting models for regression task
models = {
    'Linear Regression': LinearRegression(),
    'Random Forest Regressor': RandomForestRegressor(random_state=42),
    'SVR': SVR()
}

for name, model in models.items():
    model.fit(X_train_scaled, y_train)
    print(f'{name} trained.')

#Model evaluation
for name, model in models.items():
    predictions = model.predict(X_test_scaled)
    mse = mean_squared_error(y_test, predictions)
    r2 = r2_score(y_test, predictions)
    print(f'{name} - MSE: {mse}, R^2: {r2}')

Linear Regression trained.
Random Forest Regressor trained.
SVR trained.
Linear Regression - MSE: 166.0561597796058, R^2: 0.9999922665254575
Random Forest Regressor - MSE: 141708.46073500006, R^2: 0.9934004328715254
SVR - MSE: 32550084.81362667, R^2: -0.5159043338053568

Explain what ‘overfitting’ means and how you can spot it: 

Overfitting occurs when a model learns the training data too well, capturing noise and outliers, which harms its performance on new, unseen data. You can identify overfitting if your model has much higher accuracy on the training set compared to the validation or test sets. Techniques to combat overfitting include using simpler models, applying regularization, or reducing the number of features.ty)

Explain what hyperparameters you have adjusted and why:

Adjusting hyperparameters can help improve model performance or reduce overfitting. For example, in the RandomForestRegressor, you might adjust the n_estimators (the number of trees in the forest) or max_depth (the maximum depth of the trees) based on cross-validation scores. The goal is to find a set of hyperparameters that leads to the best model performance on unseen data.

Explain how you have measured quality using F1 score and explain the terms 
accuracy, precision and recall (sensitivity): In the context of machine learning, particularly in classification tasks, measuring the quality of a model's predictions is crucial to understand how well it performs on unseen data. The F1 score, along with accuracy, precision, and recall, are among the most commonly used metrics for this purpose. These metrics help us gauge the balance between the usefulness and completeness of the information retrieved by our model.
Accuracy

Accuracy is the most intuitive performance measure. It is simply the ratio of correctly predicted observations to the total observations. It answers the question, "Out of all the classifications, how many did we classify correctly?" Mathematically, it is defined as:

Accuracy=True Positives+True NegativesTotal ObservationsAccuracy=Total ObservationsTrue Positives+True Negatives​

However, accuracy alone can be misleading, especially in cases where the class distribution is imbalanced (e.g., one class is significantly more frequent than others).
Precision (Positive Predictive Value)

Precision is the ratio of correctly predicted positive observations to the total predicted positives. It answers the question, "Out of all the positive classifications we made, how many were actually positive?" It is particularly useful in scenarios where the cost of false positives is high. Mathematically:

Precision=True PositivesTrue Positives+False PositivesPrecision=True Positives+False PositivesTrue Positives​
Recall (Sensitivity or True Positive Rate)

Recall is the ratio of correctly predicted positive observations to all the observations in the actual class. It answers the question, "Out of all the actual positives, how many did we classify correctly?" It is crucial in situations where the cost of false negatives is high. Mathematically:

Recall=True PositivesTrue Positives+False NegativesRecall=True Positives+False NegativesTrue Positives​
F1 Score

The F1 Score is the weighted average of Precision and Recall. Therefore, this score takes both false positives and false negatives into account. It is a better measure than Accuracy for imbalanced classes. The F1 Score is the harmonic mean of Precision and Recall, giving both metrics equal weight:

F1 Score=2×Precision×RecallPrecision+RecallF1 Score=2×Precision+RecallPrecision×Recall​

The F1 score ranges from 0 to 1, where 1 represents perfect precision and recall, and thus, perfect classification by the model.
Why These Metrics Matter

    Accuracy is best used when the classes are well balanced and the costs of false positives and false negatives are roughly the same.
    Precision is important when the consequence of false positives is high — for example, in email spam detection, where it's preferable to let some spam through rather than filter out important emails.
    Recall becomes critical in situations where missing a positive classification has a high cost, such as in disease screening.
    F1 Score is crucial when you need to balance precision and recall, such as in search and information retrieval, where it is important both to retrieve all relevant documents and to minimize the number of irrelevant documents retrieved.

In machine learning model evaluation, no single metric can capture the full picture of model performance, especially in imbalanced datasets or when the costs of different types of errors vary significantly. As such, it's essential to consider these metrics collectively to make informed decisions about model selection and tuning.